.list>ul {
    font-size: 23px;
}

.list>ul>li {
    background-color: rgba(36, 182, 239, 0.831);
    position: relative;
    padding: 10px;
    border: 2px solid black;
}

.list span {
    position: absolute;
    right: 20px;
    top: -12px;
    /* top:10px; */
    display: inline-block;
}