.main{
  width: 30%;
  margin: auto;
  background-color: yellow;
  padding: 12px 12px 12px 12px;
}

button{
  
  background-color: rgb(159, 95, 219);
  cursor: pointer;
  color: white;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  
}